<p-dialog [(visible)]="visible" [modal]="true" [header]="t.foyer.changerContexte"
          class="w-full max-w-md">
  <div class="flex flex-col gap-4 pt-2">
    @if (foyers().length > 0) {
      <app-select
        [label]="t.foyer.choisir"
        [options]="foyers()"
        [(ngModel)]="foyerSelectionne"
        optionLabel="nom"
        class="w-full"
        (ngModelChange)="onFoyerChange($event)"
      />
    }

    @if (scenarios().length > 0) {
      <app-select
        [label]="t.scenario.choisir"
        [options]="scenarios()"
        [(ngModel)]="scenarioSelectionne"
        optionLabel="nom"
        class="w-full"
        (ngModelChange)="onScenarioChange($event)"
      >
        <ng-template #item let-s>
          <span>{{ s.nom }}</span>
          @if (s.estReference) {
            <span class="ml-2 text-xs bg-primary text-white rounded px-1">{{ t.scenario.reference }}</span>
          }
        </ng-template>
      </app-select>
    }
  </div>
</p-dialog>
