<div class="duel-row">
  <div class="duel-chip">
    <span class="dot" [style.background]="couleurScenario(left())"></span>
    {{ left().nom }}
  </div>

  <span class="duel-vs">VS</span>

  <app-select
    [options]="rightOptions()"
    [ngModel]="right()"
    optionLabel="nom"
    dataKey="id"
    class="duel-select"
    (ngModelChange)="rightChange.emit($event)"
  >
    <ng-template #selectedItem let-s>
      @if (s) {
        <div class="duel-option">
          <span class="dot" [style.background]="couleurScenario(s)"></span>
          <span>{{ s.nom }}</span>
        </div>
      }
    </ng-template>

    <ng-template #item let-s>
      <div class="duel-option">
        <span class="dot" [style.background]="couleurScenario(s)"></span>
        <span>{{ s.nom }}</span>
      </div>
    </ng-template>
  </app-select>
</div>
