<p-timeline [value]="groups()" align="left">
    <ng-template #opposite let-group>
        <div class="tl-when">{{ group.when }}</div>
    </ng-template>

    @if (showMarkerIcon()) {
        <ng-template #marker let-group>
            <button
                    type="button"
                    class="tl-marker"
                    [attr.aria-label]="group.items[0].title"
                    (click)="onSelect(group)">
                <span>{{ group.emoji }}</span>
            </button>
        </ng-template>

    }
    <ng-template #content let-group>
        @if (group.items.length === 1) {
            <button type="button" class="tl-card" (click)="onSelect(group)">
                <div class="tl-row">
                    <div class="tl-title">{{ group.items[0].title }}</div>
                    @if (impactLabel(group.items[0]); as impact) {
                        <div class="tl-impact" [class.pos]="group.items[0].impact! > 0"
                             [class.neg]="group.items[0].impact! < 0">
                            {{ impact }}
                        </div>
                    }
                </div>
            </button>
        } @else {
            <button type="button" class="tl-card tl-card-group" (click)="onSelect(group)">
                @for (item of group.items; track $index) {
                    @if (impactLabel(item); as impact) {
                        <div class="tl-subitem">
                            <div class="tl-row">
                                <div class="tl-title">{{ item.title }}</div>
                                <div class="tl-impact" [class.pos]="item.impact! > 0" [class.neg]="item.impact! < 0">
                                    {{ impact }}
                                </div>
                            </div>
                        </div>
                    }
                }
            </button>
        }
    </ng-template>
</p-timeline>
